# LaTeX 构建
*.pdf
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# macOS
.DS_Store

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# 环境变量
.env
*.local

# 临时文件
*.tmp
*.bak
*.cache

# 系统文件
.Trash/
